* {
    box-sizing: border-box;
}

.main-teams-div {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.team-list{
    display: grid;
    height: max-content;
    grid-template-columns: repeat(2, 1fr);
    min-width: 60%;
    gap: 10px;
    height: 83vh;
    overflow-y: scroll;
}

.team-list {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  
    &::-webkit-scrollbar {
      width: 0.5rem;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }

.team-card:hover{
    cursor: pointer;
    scale: 1.1;
}

.team-card:hover h1 {
  text-shadow: #B07F2E 1px 1px 40px, #B07F2E -1px -1px 40px, black 1px 1px 5px, black -1px -1px 5px;
}

.team-card:active{
    scale: 1.05;
}

@media (max-width: 426px) {

  .team-list{
    display: flex;
    flex-direction: column;
    height: fit-content;

}

.main-teams-div {
  display: flex;
  justify-content: center
}



  }
