* {
    box-sizing: border-box;
}

.main-teams-div {
    display: flex;
    height: 25vw;
}

.team-div{
    width: 75%;
}



.team-card:hover{
    cursor: pointer;
    scale: 1.1;
}

.team-card:hover h1 {
  text-shadow: #B07F2E 1px 1px 40px, #B07F2E -1px -1px 40px, black 1px 1px 5px, black -1px -1px 5px;
}

.team-card:active{
    scale: 1.05;
}
