* {
    box-sizing: border-box;
}

.main-teams-div {
    display: flex;
    height: 25vw;
}

.team-div{
    width: 75%;
}


@media (max-width: 426px) {

    * {
        box-sizing: border-box;
    }

    .main-teams-div{
        width: 90%;
        margin: 0 1rem;
    }

    .team-div{
        width: 90%;
    }

    .team-info-div{
        width: 90%;
    }

    .team-member-div{
        width: 90%;
    }
    }
