.main {
    display: flex;
    justify-content: space-between;
}

.banner{
    background-image: url("/Hogwarts-banner.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
}

.quizz{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
}
