.main {
    display: flex;
    height: 100vh;
}


.all-list{
    display: flex;
    flex-direction: column;
    min-width: 60%;
    gap: 10px;
    margin:0 auto;
    text-align: center;
    justify-content: space-between;
}

.team-card {
    width: fit-content;
    height: fit-content;
    text-align: center;
    align-items: center;
    margin: auto;
  }
