.profile-main-div {
    display: flex;
    height: 100vh;
  }

.banner{
    background-image: url("/Hogwarts-banner.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 10vw;
    margin-top: 0.2rem;
}

.profile-banner-div{
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    margin-top: 0.2rem;
  }

.user-info-div{
  width: 60%;
  margin: 0 0 0 15rem;
  }

.profile-image{
  width: 7rem;
  height: auto;
  border-radius: 15%;
  border: 2px solid #B07F2E; 
  }

.team-badge{
  width: 2rem;
  height:2rem;

}

h1{
  font-size: 3rem;
}
p{
  font-size: 1.5rem;
}

.quizz-icon{
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  margin-right: 1rem;
}

.solved-quizz-card{
  display: flex;
  align-items: center;

}

.user-div{
  display: flex;
  width: 100%;
}

.user-quizz-div{
  width: 60%;
  margin: 3rem 10rem 0 0;

}