
*{
    transition: filter 0.75s ease;
}

@font-face {
    font-family: "hp" ;
    src: url(./assets/hp.TTF);
}

body, html{
    margin:0;
    padding: 0;
    letter-spacing: 0.1rem;
    height: 100%;
    color: whitesmoke;
    background-color: black;
    font-family: "hp";
}

a{
    text-decoration: none;
    color: whitesmoke
}

ul{
    list-style: none;
}

.blur {
    opacity: 0.25;
    filter: blur(5px);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #B07F2E;
    border-radius: 5px;
    background-color: #b07e2e13;
    color: whitesmoke;
    transition: background-color 0.5s, color 0.5s, border 0.5s, scale 0.5s;
    cursor: pointer;
    font-family: "hp";
    margin: 0.5rem 0;
  }

  button:hover {
    color: black;
    background-color: #B07F2E;
    border-color: whitesmoke;
  }

  button:active {
    scale: 0.95;
  }


  input {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #B07F2E;
    border-radius: 5px;
    background-color: black;
    color: whitesmoke;
    transition: background-color 0.5s, color 0.5s, border 0.5s, scale 0.5s;
    cursor: pointer;
    font-family: "hp";
    margin: 0.5rem 0;
  }

  input:hover {
    color: black;
    background-color: #b07e2e13;
    border-color: whitesmoke;
  }

  input:active {
    scale: 0.95;
  }