
*{
    transition: all 0.5s;
}

@font-face {
    font-family: "hp" ;
    src: url(./assets/hp.TTF);
}

#root{
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 1920px;
}

body, html{
    margin:0;
    letter-spacing: 0.1rem;
    height: 100%;
    color: whitesmoke;
    background-color: black;
    font-family: "hp";
}

a{
    text-decoration: none;
    color: whitesmoke
}

ul{
    list-style: none;
}

h1{
  text-shadow: #B07F2E 1px 1px, #B07F2E -1px -1px;
}

.blur{
  opacity: 0.25;
  filter: blur(5px);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #B07F2E;
    border-radius: 5px;
    background-color: #b07e2e13;
    color: whitesmoke;
    cursor: pointer;
    font-family: "hp";
    margin: 0.5rem 0;
  }

  button:hover {
    color: black;
    background-color: #B07F2E;
    border-color: whitesmoke;
  }

  button:active {
    scale: 0.95;
  }

  input {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #B07F2E;
    border-radius: 5px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    font-family: "hp";
    margin: 0.5rem 0;
    outline: none;  
  }

  input:hover {
    background-color: #b07e2e13;
    border-color: whitesmoke;
  }

  input:active {
    background-color: #b07e2e13;
    scale: 0.95;
  }

  select {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #B07F2E;
    border-radius: 5px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    font-family: "hp";
    margin: 0.5rem 0;
    outline: none;  
  }

  select:hover {
    background-color: #b07e2e13;
    border-color: whitesmoke;
  }

  select:active {
    background-color: #b07e2e13;
    scale: 0.95;
  }

  option {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #B07F2E;
    border-radius: 5px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    font-family: "hp";
    margin: 0.5rem 0;
    outline: none;  
  }

  option:hover {
    background-color: #b07e2e13;
    border-color: whitesmoke;
  }

  option:active {
    background-color: #b07e2e13;
    scale: 0.95;
  }